.login-layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  max-width: 100%;
  width: 100%;
}

.login-container {
  width: 100%;
  max-width: 100%;
  padding: 24px 0;
}